@model Order

@{
    ViewData["Title"] = "Details";
}

<section class="breadcrumb breadcrumb_bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="breadcrumb_iner">
              <div class="breadcrumb_iner_item">
                 <img src="/assets/img/icon/feature_icon_1.png" alt="" />

                <h2>featured</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <div class="row p-5">
                        <div class="col-md-6">
                            <img src="/assets/img/client_logo/client_logo_2.png" alt="" />
                        </div>

                        <div class="col-md-6 text-right">
                            <p class="font-weight-bold mb-1">Invoice @Model.OrderNumber</p>
                            <p class="text-muted">Order Date to: @Model.OrderDate</p>
                        </div>
                    </div>

                    <hr class="my-5">

                    <div class="row pb-5 p-5">
                        <div class="col-md-6">
                            <p class="font-weight-bold mb-4">Client Information</p>
                            <p class="mb-1">@Model.Customer.UserName</p>
                            <p>Acme Inc</p>
                            <p class="mb-1">@Model.Customer.Address</p>
                            <p class="mb-1">6781 45P</p>
                        </div>

                        <div class="col-md-6 text-right">
                            <p class="font-weight-bold mb-4">Payment Details</p>
                            <p class="mb-1"><span class="text-muted">VAT: </span> 1425782</p>
                            <p class="mb-1"><span class="text-muted">VAT ID: </span> 10253642</p>
                            <p class="mb-1"><span class="text-muted">Payment Type: </span> Root</p>
                            <p class="mb-1"><span class="text-muted">Name: </span> @Model.Customer.UserName</p>
                        </div>
                    </div>

                    <div class="row p-5">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Item</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Description</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Quantity</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Unit Cost</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in @Model.OrderDetails)
                                   {
                                    <tr>
                                        <td>@item.ProductID</td>
                                        <td>@item.Product.Name</td>
                                        <td>@item.Product.Description</td>
                                        <td>@item.Quantity</td>
                                        <td>$@item.Product.UnitPrice</td>
                                        <td>$@item.LinePrice</td>
                                    </tr>
                                   }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="d-flex flex-row-reverse bg-dark text-white p-4">
                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Grand Total</div>
                            <div class="h2 font-weight-light">$@Model.TotalPrice</div>
                        </div>

                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Discount</div>
                            <div class="h2 font-weight-light">@Model.Discount%</div>
                        </div>

                        <div class="py-3 px-5 text-right">
                            <div class="mb-2">Sub - Total amount</div>
                            <div class="h2 font-weight-light">$@Model.SubTotal</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
