@model Product
@{
    ViewData["Title"] = "AdminDetails";
    Layout = "_AdminLayout";
}

<!--================Single category Area =================-->
  <div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner justify-content-between">
        <div class="col-lg-7 col-xl-7">
          <div class="product_slider_img">
            <div id="vertical">
              <div data-thumb="/assets/img/product/@Model.Img">
                <img src="/assets/img/product/@Model.Img" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xl-4">
          <div class="s_product_text">
            <h3>@Model.Name</h3>
            <ul class="list">
              <li>
                 <span class="text-danger">Color</span> : @Model.Color
             </li>
              <li>
                <span class="text-danger">Unit price</span> : @Model.UnitPrice
              </li>
              <li>
                <span class="text-danger">Discount</span> : @Model.Discount
              </li>
              <li>
                <span class="text-danger">Category Name</span> : @Model.Category.Name
              </li>
              <li>
                <span class="text-danger">Description</span> : @Model.Description
              </li>
            </ul>
            <p>
              
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================End Single category Area =================-->





