@model IEnumerable<Project.Models.Product>

@{
    ViewData["Title"] = "List";
    int x = 1;
   Layout = "_AdminLayout";
}

<style>
    .table-body{
        height:30em;
        overflow-x : auto;
    }
</style>

<div class="container">
<h1 class="l font-italic text-muted mt-3 text-center">Products List</h1>
<p class="mb-3 text-center">
    <a class="btn btn-primary" asp-action="Create">Create New Product</a>
</p>
    <div class="row">
        <div class="progress-table-wrap">
			<div class="progress-table">
				<div class="table-head">
					<div class="serial">#</div>
					<div class="country">Name</div>
					<div class="country">Description</div>
					<div class="country">Color</div>
					<div class="country">Unit Price</div>
					<div class="country">Discount</div>
					<div class="country">Image</div>
					<div class="country">Rate</div>
					<div class="country">Category</div>
					<div class="country">Cotrols</div>
				</div>
                <div class="table-body">
                @foreach (var item in Model) {
				<div class="table-row">
					<div class="serial">@x</div>
                    @{x++;}
					<div class="country">
                        @item.Name
                    </div>
                    <div class="country">
                        @item.Description
                    </div>
                    <div class="country">
                        @item.Color
                    </div>
                    <div class="country">
                        @item.UnitPrice
                    </div>
                    <div class="country">@item.Discount</div>
                    <div class="country">
                            <img src="/assets/img/product/@item.Img" alt="img">
                    </div>
                            
                    <div class="country justify-content-center">@item.Rate</div>
                    <div class="country">@item.Category.Name</div>
					<div class="visit">
                        <a asp-action="Edit" asp-controller="Products" asp-route-id="@item.ID"><i class="fa-solid fa-pen-to-square" style="font-size:20px"></i></a>&nbsp;|&nbsp;
                        <a asp-action="AdminDetails" asp-controller="Products" asp-route-id="@item.ID"><i class="fa-solid fa-circle-info" style="font-size:20px"></i></a>&nbsp;|&nbsp;
                        <button type="button" class="border-0" onclick="whenClick(@item.ID)"  data-toggle="modal" data-target="#exampleModal"><i class="fa-solid fa-trash-can" style="font-size:20px" ></i></button>
                    </div>
				</div>
                }
                </div>
			</div>
		</div>
    </div>
</div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
        <button type="button" class="close border-0" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
    </div>
  </div>

@*    <script src="~/lib/jquery/dist/jquery.js"></script>*@
</div>
<script>
function whenClick(id){
$.ajax({
url:"/products/getdelete/"+id,
success: function(result){
console.log(result)
$(".modal-body").html(result)
}
});
}
</script>