@model IEnumerable<Project.Models.Product>

@{
    ViewData["Title"] = "List";
    int x = 1;
}


<div class="container">
    <div class="row">
<h1>Products List</h1>

<p>
    <a class="btn btn-pt" asp-action="Create">Create New Product</a>
</p>
        <div class="progress-table-wrap">
					<div class="progress-table">
						<div class="table-head">
							<div class="serial">#</div>
							<div class="country">Name</div>
							<div class="country">Description</div>
							<div class="country">Color</div>
							<div class="country">Unit Price</div>
							<div class="country">Discount</div>
							<div class="country">Image</div>
							<div class="country">Rate</div>
							<div class="country">Category</div>
							<div class="country">Cotrols</div>
						</div>
                        @foreach (var item in Model) {
						<div class="table-row">
							<div class="serial">@x++</div>
							<div class="country">
                                @item.Name
                            </div>
                            <div class="country">
                                @item.Description
                            </div>
                            <div class="country">
                                @item.Color
                            </div>
                            <div class="country">
                                @item.UnitPrice
                            </div>
                            <div class="country">@item.Discount</div>
                            <div class="country">
                                 <img src="/assets/img/product/@item.Img" alt="img">
                            </div>
                            
                            <div class="country">@item.Rate</div>
                            <div class="country">@item.Category.Name</div>
							<div class="visit">
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </div>
						</div>
                        }
					</div>
				</div>
    </div>
</div>
<table class="table">

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
